<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">

<div class="container" th:fragment="header-principal">
    <div class="text-center bg-body border rounded-5 p-5 mt-5 mb-5">
        <h1>Hotlink - Meus link favoritos</h1>
        <p class="col-lg-6 mx-auto mb-4">
            Gerencie seus links favoritos adicionando, excluindo e posicionando o mais úteis
        </p>

        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://github.com/mdo.png" alt="">Primary
        </span>

    </div>

</div>
</html>