<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-dark bg-dark navbar-expand-lg" th:fragment="navbar-principal">
    <div class="container">
        <a th:href="@{/}" class="navbar-brand">CIN News Links</a>

        <form sec:authorize="isAuthenticated()" class="d-flex">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                       <label sec:authentication="principal.nome">Alice Winter</label>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}" class="dropdown-item">
                                Sair
                                <i class="bi bi-lock-fill"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </form>

        <a th:href="@{/login}" sec:authorize="!isAuthenticated()"
           class="navbar-brand btn btn-outline-primary ">Entrar</a>

    </div>
</nav>

</html>