<div class="container" th:fragment="main-header">
    <div class="text-center bg-body border rounded-5 p-5 mt-5 mb-5">
        <h1>Hotlink - Meus link favoritos</h1>
        <p class="col-lg-6 mx-auto mb-4">
            This faded back jumbotron is useful for placeholder content. It's also a great way to add a bit of context
            to a page or section when no content is available and to encourage visitors to take a specific action.
        </p>

        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://github.com/mdo.png" alt="">Primary
        </span>

    </div>

</div>