<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="layout_body_principal">
    <div class="container" th:if="${not #lists.isEmpty(links)}">
        <table class="table align-items-center">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Link</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="link : ${links}">
                <th scope="row">1</th>
                <td th:text="${link.titulo}"></td>
                <td><a th:href="${link.endereco}" target="_blank" th:text="${link.endereco}"></a></td>
                <td><span class="material-symbols-outlined delete" data-bs-toggle="modal"
                       th:attr="data-bs-target='#modal_confirmar_exclusao_link_'+${link.id}">delete</span>
                    <div th:insert="~{layouts/fragments/modal :: fragment_modal_confirmar_exclusao_link (link=${link})}"></div>
                </td>
            </tr>
            </tbody>
        </table>


    </div>

</div>

</html>