<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotlink</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-reboot.css">
</head>
<body>

<div class="container">
    <div class="text-center bg-body border rounded-5 p-5 mt-5 mb-5">
        <h1>Hotlink - Meus link favoritos</h1>
        <p class="col-lg-6 mx-auto mb-4">
            This faded back jumbotron is useful for placeholder content. It's also a great way to add a bit of context
            to a page or section when no content is available and to encourage visitors to take a specific action.
        </p>

        <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://github.com/mdo.png" alt="">Primary
        </span>

    </div>

</div>

<div class="container">

    <form action="/link" method="post">

        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" placeholder="Título" id="titulo" name="titulo"/>
        </div>

        <div class="mb-3">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" placeholder="Endereço" id="endereco" name="endereco"/>
        </div>


        <div class="text-center">
            <button class="btn btn-lg btn-primary" type="submit">Salvar</button>
        </div>

    </form>

</div>

<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/bootstrap.bundle.js"></script>
</body>
</html>